<div class="add-user-container">
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="add-user-form">
    <h2>Agregar Usuario</h2>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Avatar URL</mat-label>
        <input matInput formControlName="avatar">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="addUserForm.get('email')?.hasError('required')">
          El email es requerido
        </mat-error>
        <mat-error *ngIf="addUserForm.get('email')?.hasError('email')">
          Por favor ingrese un email válido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required maxlength="8">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="addUserForm.get('password')?.hasError('required')">
          La contraseña es requerida
        </mat-error>
        <mat-error *ngIf="addUserForm.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres
        </mat-error>
        <mat-error *ngIf="addUserForm.get('password')?.hasError('maxlength')">
          La contraseña no puede tener más de 8 caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="addUserForm.get('name')?.hasError('required')">
          El nombre es requerido
        </mat-error>
        <mat-error *ngIf="addUserForm.get('name')?.hasError('pattern')">
          El nombre solo puede contener letras
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="role" required>
        <mat-error *ngIf="addUserForm.get('role')?.hasError('required')">
          El rol es requerido
        </mat-error>
        <mat-error *ngIf="addUserForm.get('role')?.hasError('pattern')">
          El rol solo puede contener letras
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="addUserForm.invalid">Agregar Usuario</button>
    </div>
  </form>
</div>
