.edit-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.edit-user-form {
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Ajusta el tamaño máximo del formulario */
  width: 100%;
}

.edit-user-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-user-form .form-row {
  margin-bottom: 20px;
}

.edit-user-form .form-field {
  width: 100%;
}
